In [1]:
import pandas as pd

In [2]:
# rewrite of the Event.java
class Event:
    def __init__(self, etype, timestamp, stored):
        self.etype = etype
        self.timestamp = timestamp
        self.stored = stored
       
    def eventType(self):
        return self.etype
    
    def eventTime(self):
        return self.timestamp
    
    # added eventIndex to return the index of an event that 
    # matches type and timestamp desired
    def eventIndex(self):
        checkType = self.stored['type'] == self.etype
        checkTime = self.stored['timestamp'] == self.timestamp
        nData = len(self.stored)
        for i in range(nData):
            if checkType[i] and checkTime[i]:
                return i

In [37]:
# rewrite of the EventIterator.java
class EventIterator:
    
    def __init__(self, etype, timestamp, stored):
        self.etype = etype
        self.timestamp = timestamp
        self.stored = stored
        
    
    # moveNext checks if the index is the last one or not    
    def moveNext(self):
        nData = len(self.stored)
        if Event(self.etype, self.timestamp, self.stored).eventIndex() < nData-1:
            return True
        else:
            return False
    
    # returns the current event if moveNext was used before and returns true
    def current(self):
        if self.moveNext():
            return self.stored.loc[Event(self.etype, self.timestamp, self.stored).eventIndex()]#self.stored[]{'type': self.etype, 'timestamp': self.timestamp}
        else: 
            return False        
    
    # returns a dataframe without the desired event
    def remove(self):
        self.stored = self.stored.drop(Event(self.etype, self.timestamp, self.stored).eventIndex())
        return self.stored

In [4]:
class EventStore:
    def __init__(self, etype, timestamp, stored):
        self.etype = etype
        self.timestamp = timestamp
        self.stored = stored
    
    # returns a dataframe with a new event
    def insert(self):
        toStore = {"type":self.etype, "timestamp":self.timestamp}
        self.stored = self.stored.append(toStore, ignore_index = True)
        return self.stored 
     
    # returns a dataframe without all the desired type    
    def removeAll(self):
        self.stored = self.stored.drop(self.stored[self.stored.type == self.etype].index)
        return self.stored

In [5]:
# creates a dataframe for storage and shows the data
storedData = pd.DataFrame({'type': ["start", "span", "data", "data", "data", "data", "data", "data", "data", "data", "stop"], 'timestamp': [1519862400000, 1519862400000, 1519862400000, 1519862400000, 1519862400000, 1519862400000, 1519862460000, 1519862460000, 1519862460000, 1519862460000, 1519862460000]}) #{"type": "start", "timestamp":1519862400000}
storedData

     type      timestamp
0   start  1519862400000
1    span  1519862400000
2    data  1519862400000
3    data  1519862400000
4    data  1519862400000
5    data  1519862400000
6    data  1519862460000
7    data  1519862460000
8    data  1519862460000
9    data  1519862460000
10   stop  1519862460000

In [ ]:
#for all demonstrations the index 1 of type "span" will be used 
#except the ones to show moveNext returning false
#nad the one to show removeAll

In [7]:
Event('span', 1519862400000, storedData ).eventType()

'span'

In [8]:
Event('span', 1519862400000, storedData ).eventTime()

1519862400000

In [9]:
Event('span', 1519862400000, storedData ).eventIndex()

1

In [19]:
EventIterator('span', 1519862400000, storedData).moveNext()

True

In [18]:
EventIterator('stop', 1519862460000, storedData).moveNext()

False

In [38]:
EventIterator('span', 1519862400000, storedData).current()

type                  span
timestamp    1519862400000
Name: 1, dtype: object

In [39]:
EventIterator('stop', 1519862460000, storedData).current()

False

In [40]:
EventIterator('span', 1519862400000, storedData).remove()

     type      timestamp
0   start  1519862400000
2    data  1519862400000
3    data  1519862400000
4    data  1519862400000
5    data  1519862400000
6    data  1519862460000
7    data  1519862460000
8    data  1519862460000
9    data  1519862460000
10   stop  1519862460000

In [41]:
EventStore('span', 1519862400000, storedData).insert()

     type      timestamp
0   start  1519862400000
1    span  1519862400000
2    data  1519862400000
3    data  1519862400000
4    data  1519862400000
5    data  1519862400000
6    data  1519862460000
7    data  1519862460000
8    data  1519862460000
9    data  1519862460000
10   stop  1519862460000
11   span  1519862400000

In [42]:
EventStore('data', 1519862400000, storedData).removeAll()

     type      timestamp
0   start  1519862400000
1    span  1519862400000
10   stop  1519862460000